NODE_ENV="development"
PORT=7319
CORS_ORIGIN="http://localhost:5173"

DATABASE_URL="mysql://admin:admin@localhost:3306/scary-story-generator"
REDIS_URL="redis://localhost:6379"

// optional only used for NODE_ENV=production
SENTRY_DSN=""

AUTH_TOKEN_SECRET="shh"

POLLINATIONS_API_KEY=""
ELEVENLABS_API_KEY=""
ELEVENLABS_VOICE_ID="N2lVS1w4EtoT3dr4eOWO"
ASSEMBLY_AI_TOKEN=""

AWS_S3_ACCESS_KEY="admin"
AWS_S3_SECRET_KEY="password123"
AWS_S3_BUCKET_NAME="scary-story-generator"
AWS_S3_ENDPOINT="http://localhost:9000"
AWS_S3_REGION="auto"
AWS_S3_USE_PATH_STYLE=true
